.wrapper {
  background-image: url("@assets/img/authBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 0 40px;

  & a {
    display: block;
  }

  & button {
    width: 100%;
    border-radius: var(--border-radius-1);
  }
}