.p {
  transition: .3s all ease;
}

.h1 {
  font: var(--paragraph-1);
}

.h2 {
  font: var(--paragraph-2);
}

.h3 {
  font: var(--paragraph-3);
}

.h4 {
  font: var(--paragraph-4);
}

.h5 {
  font: var(--paragraph-5);
}

.h6 {
  font: var(--paragraph-6);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.danger {
  color: var(--danger);
}

.link {
  color: var(--link);
}

.success {
  color: var(--success);
}

.light {
  color: var(--white);
}

.dark {
  color: var(--dark);
}